.hiddenFileInput {
  display: none;
}
.dateInput {
  position:relative;
  top: -34;
  width: 18;
 
  padding: 8;
  margin-left: 276;
  justify-self: center;
  opacity: 0.2;
  /* z-index: -1; */
  border: none;
  /* background-color: rgb(184, 202, 212); */
}
text{
  display: block;
  font-size: medium;
  font-weight: bold;
  
}
.body{
  margin-left: 50;
}

.borders{

  border-width: 2px;
  border-color: black;
  border-style: solid;
}